/* HEADER */
/* @font-face {
    font-family: 'Raleway';
    src: url(./Raleway/static/Raleway-Black.ttf);
}
 */
.headerFlex {
    display: flex;
    flex-flow: column;
    align-items: center;
    background: url(img/img.png) center center no-repeat;
    background-size: cover;
    height: 70vh;
}

.headerFlex img {
    margin: 53px 0;
}

/* Général */

h1 {
    font-size: 36px;
    line-height: 18px;
    color: #222222;
    font-weight: 300;
    font-family: "Raleway";
    z-index: 500;
}

h3 {
    font-size: 22px;
    line-height: 18px;
    color: #222222;
    font-weight: 600;
    font-family: "Raleway";
}

p {

    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-family: "arial";
}

/* MAIN */


/* section 1 */
#section1 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 57vh;
}

#section1 p {
    width: 311px;
    height: 121px;
    margin: 20px 0 10px 0;
}

#iphone {
    position: absolute;
    bottom: -260px;
}

.topTextPart1, .botomTextPart1 {
    display: flex;
    flex-flow: column;
}

.topTextPart1 {
    margin: 0 385px 0 29px;
}

.zoneTextPart1 {
    margin: 45px 0 0;
}


/* section 2 */
#section2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    background-color: #e3e3e3;
    padding: 50px 0;
}

#section2 p {
    height: fit-content;
    width: 100%;
    margin: 20px 0 10px 0;
}

.zoneTextPart2 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 45%;
}

.zoneTextPart2 a {
    text-decoration: none;
    margin-right: 15px;
}

#section2 .logoFlex {
    width: 100%;
}

/* section 3 */
#section3 {
    padding: 50px 0;
}

#section3 h3 {
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
    font-family: "Raleway";
    text-align: center;
}

#section3 p {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-family: "arial";
    text-align: center;
    margin: 20px 0;
}

#section3 p span {
    font-weight: bold;
}

/* section 4 */

.zoneImgPart3 img {
    width: 100%;

}

/* section 5 */
#section5 {
    padding: 50px 0;
}

.zoneTextPart5 {
    display: flex;
    flex-flow: column;
    align-items: center;
}/**************************************
**************SECTION 2***************
**************************************/

.zoneTextPart5 p {
    margin: 15px 0;
}

.zoneTextPart5 .logoFlex a {
    margin: 10px;
    text-decoration: none;
}


/* FOOTER */
footer{
    padding: 50px 0;
    background: #e3e3e3;
    
}
.footerLink {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    
}
.footerLink a{
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    color: #848484;
    font-family: "arial";
    margin:0 15px;
}